.footer{
  width: 100%;
  max-width: 144rem;
  height: 15rem;
  line-height: 25rem;
  background-color: $color-black;
  padding: $padding-section;

  .brand-box{
    text-align: left;
    
    [class*="footer-"]{
      font-size: 1.4rem;
      font-weight: 400;
      color: $color-white;

      &:not(:last-child){
        margin-right: .3rem;
      }
    }

    // .footer-year,
    .footer-brand{
      font-family: $font-brand;
      letter-spacing: 1px;
    }
  }

  .slogan-box{
    text-align: right;

    .slogan{
      font-size: 1.6rem;
      font-weight: 400;
      color: $color-white;
      letter-spacing: .8px;
    }
  }
}