.section-gallery{
  
  .row{
    position: relative;
    z-index: 3;

    // .col-1-of-4{
    //   position: relative;
    // }

    // .col-1-of-3{
    //   position: relative;
    // }

    .picture{

      &-1{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-100.jpg);
        background-position: center;
        background-size: cover;
      }
      &-2{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-86.jpg);
        background-position: center;
        background-size: cover;
      }
      &-3{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-83.jpg);
        background-position: center;
        background-size: cover;
      }
      &-4{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-93.jpg);
        background-position: center;
        background-size: cover;
      }
      &-5{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-103.jpg);
        background-position: center;
        background-size: cover;
      }
      &-6{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-109.jpg);
        background-position: center;
        background-size: cover;
      }
      &-7{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-117.jpg);
        background-position: center;
        background-size: cover;
      }
      &-8{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-124.jpg);
        background-position: center;
        background-size: cover;
      }
      &-9{
        background-image: url(../../img/schody-Markodrew/schody-drewniane-Markodrew-1.jpg);
        background-position: center;
        background-size: cover;
      }
      &-10{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-6.jpg);
        background-position: center;
        background-size: cover;
      }
      &-11{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-16.jpg);
        background-position: center;
        background-size: cover;
      }
      &-12{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-20.jpg);
        background-position: center;
        background-size: cover;
      }
      &-13{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-22.jpg);
        background-position: center;
        background-size: cover;
      }
      &-14{
        background-image: url(../../img/schody-Markodrew/schody-drewniane-Markodrew-25.jpg);
        background-position: center;
        background-size: cover;
      }
      &-15{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-40.jpg);
        background-position: center;
        background-size: cover;
      }
      &-16{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-46.jpg);
        background-position: center;
        background-size: cover;
      }
      &-17{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-54.jpg);
        background-position: center;
        background-size: cover;
      }
      &-18{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-58.jpg);
        background-position: center;
        background-size: cover;
      }
      &-19{
        background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-66.jpg);
        background-position: center;
        background-size: cover;
      }
      // &-20{
      //   background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-46.jpg);
      //   background-position: center;
      //   background-size: cover;
      // }
    }
  }
}