.header{
  width: 100%;
  max-width: 144rem;
  height: 100vh;
  margin: 0 auto;
  position: relative;

  .navigation{
    height: 10rem;
    width: 100%;
    background-image: transparent;
    // background-color: $color-black;
    line-height: 10rem;
    position: absolute;
    z-index: 3;
    text-align: center;

    &__nav{
      // float: right;
      // margin-right: 5rem;
    display: inline-block;

      ul{
        list-style-type: none;

        li{
          float: left;
          display: block;

          a{
            display: inline-block;
            font-size: 1.8rem;
            // padding: 0 1.2rem;
            padding: 0 4rem;
            letter-spacing: .3px;
            text-align: center;
            text-decoration: none;
            color: $color-white;
            transition: all .2s;
            position: relative;
            overflow: hidden;
            // font-family: $font-brand;

            &:hover span::after{
              left: 0;
            }

            span{

              &::after{
                @include hoverSubline;
              }

            }

            

            

          }
        }
        
      }
    }
  }

  .hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, rgba(0, 0, 0, .9), rgba(40, 40, 40, .9)), url(../img/schody-drewniane-Markodrew-98.jpg);
    background-size: 100%;
    background-position: center 70%;
    background-repeat: no-repeat;
    position: relative;

    &__text-box{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .heading-primary{
        color: $color-white;
        position: relative;
        text-align: center;

        &--above{
          display: block;
          font-size: 3rem;
          transform: translateY(1.5rem);
          letter-spacing: .5px;
          @media screen and (max-width: 1024px) {
            font-size: 30px;
          }
          @media screen and (max-width: 660px) {
            font-size: 20px;
          }
        }

        &--main{
          display: block;
          font-size: 7rem;
          font-family: $font-brand;
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          color: $color-white;
          // background-image: linear-gradient(to right, darken($color-brown, 15%), $color-brown);

          @media screen and (max-width: 1024px) {
            font-size: 40px;
          }
          @media screen and (max-width: 660px) {
            font-size: 30px;
          }
        }

        &--sub{
          display: block;
          font-size: 3rem;
          transform: translateY(-1rem);
          letter-spacing: .5px;
          @media screen and (max-width: 1024px) {
            font-size: 30px;
          }
          @media screen and (max-width: 660px) {
            font-size: 20px;
          }
        }
      }
    }
  }

}