.section-offer{

  .heading-box{
    opacity: 0;
    transition: all .8s ease;
    transform: translateY(70px);
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;

    .title-big{
      transform: scale(.85);
      opacity: 0;
      transition: .8s;

      @media screen and (max-width: 1024px) {
        font-size: 200px;
      }
      @media screen and (max-width: 890px) {
        font-size: 160px;
        top: -5rem;
      }
      @media screen and (max-width: 700px) {
        font-size: 140px;
        left: 2%;
        top: -1rem;
        white-space: nowrap;
      }
      @media screen and (max-width: 500px) {
        left: 0;
        
      }
    }

    .show-title-big{
      transform: scale(1);
      opacity: .5;
    }
  }

  .text-box{
    @extend .heading-box;
  }

  .show{
    opacity: 1;
    transform: translateY(0);
  }
}