.section{
  width: 100%;
  max-width: 1920px;
  background-color: $color-black;
  // background-image: $color-background;
  padding: $padding-section;
  padding-top: 3rem;
  position: relative;
  margin: 0 auto;
}