.btn{
  font-size: 1.4rem;
  // color: $color-black;
  color: #fff;
  // background-color: #fff;
  background-color: $color-gallery-button;
  text-decoration: none;
  padding: 2px 20px;
  border: 1px solid $color-gallery-button;
  border-radius: 5px;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all .2s ease;
  box-shadow: 0 2px 2px .5px $color-lightgrey;

  &:hover{
    background-color: #fff;
    // background-color: $color-gallery-button;
    // color: #fff;
    color: $color-gallery-button;
  }

  &:active{
    transform: translate(-50%, 1.5px);
    box-shadow: none;
    // box-shadow: 0 .5px .3px .2px $color-lightgrey;
    box-shadow: 0 0 0 0 $color-lightgrey;
  }
}

.go-up-btn{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  bottom: 8rem;
  right: 3rem;
  background-color: #fff;
  color: $color-gallery-button;
  // padding: 1rem 2rem;
  border-radius: 50%;
  font-size: 3rem;
  // box-shadow: 0 2px 2px .5px $color-lightgrey;
  transition: all .3s ease;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;

  &.show{
    opacity: 1;
    pointer-events: all;
  }

  &:hover{
    background-color: $color-gallery-button;
    color: #fff;

    &__link{
      color: #fff;
    }
  }

  &:active{
    transform: translate(0, 1.5px);
    box-shadow: none;
  }

}