.cards-box{
  background-color: $color-black;
  max-width: 80rem;
  text-align: center;
  opacity: 0;
  transition: all .8s ease;
  transform: translateY(70px);
  display: flex;
  justify-content: space-between;
  margin: auto;

  @media screen and (max-width: 770px) {
    flex-direction: column;
    align-items: center;
    &:not(:first-child){
      margin-top: 20px;
    }
  }

  .card-offer{
    height: 30rem;
    width: 20rem;
    display: block;
    border: 1px solid white;
    border-radius: 8px;
    transition: .3s;
    background-color: $color-black;
    
    @media screen and (max-width: 770px) {
      &:not(:first-child){
        margin-top: 40px;
      }
    }
    // &:not(:first-child){
    //   margin-left: 3rem;
    // }
    &--first{
      background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-100.jpg);
      background-position: center;
      background-size: cover;
    }
    &--second{
      background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-6.jpg);
      background-position: center;
      background-size: cover;
    }
    &--third{
      background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-86.jpg);
      background-position: center;
      background-size: cover;
    }
    &--title{
      font-size: 2.5rem;
      font-weight: 300;
    }

    &:hover{
      transform: translateY(-8px);
      // cursor: pointer;
    }

    &--title{
      font-size: 1.8rem;
      color: $color-white;
      margin-top: 20px;
    }
  }

  .show{
    opacity: 1;
    transform: translateY(0);
  }
}