.cards-box{
  background-color: $color-black;
  max-width: 80rem;
  text-align: center;
  opacity: 0;
  transition: all .8s ease;
  transform: translateY(70px);
  display: flex;
  justify-content: space-around;
  margin: auto;

  @media screen and (max-width: 770px) {
    flex-direction: column;
    align-items: center;
    &:not(:first-child){
      margin-top: 20px;
    }
  }

  .card-offer{
    height: 30rem;
    width: 20rem;
    display: block;
    border: 1px solid white;
    border-radius: 8px;
    transition: .3s;
    background-color: $color-black;
    position: relative;
    cursor: pointer;
    
    @media screen and (max-width: 770px) {
      &:not(:first-child){
        margin-top: 40px;
      }
    }
    // &:not(:first-child){
    //   margin-left: 3rem;
    // }
    &--first{
      background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-100.jpg);
      background-position: center;
      background-size: cover;
    }
    &--second{
      background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-6.jpg);
      background-position: center;
      background-size: cover;
    }
    &--third{
      background-image: url(../img/schody-Markodrew/schody-drewniane-Markodrew-86.jpg);
      background-position: center;
      background-size: cover;
    }
    &--title{
      font-size: 2.5rem;
      font-weight: 300;
    }

    a{
      display: block;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      .card-offer--title{
        font-size: 3rem;
        color: $color-white;
        margin-top: 20px;
        font-weight: 400;
        z-index: 2;
      }
    }

    .overlay{
      background-color: rgba(0, 0, 0, .5);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 8px;
      pointer-events: none;
      transition: .3s;
    }


    &:hover{
      transform: translateY(-8px);
      // cursor: pointer;

      .overlay{
        background-color: rgba(0, 0, 0, .3);
      }
    }
  }

  .show{
    opacity: 1;
    transform: translateY(0);
  }
}