.cards-box{
  background-color: $color-black;
  width: 80rem;
  text-align: center;
  opacity: 0;
  transition: all .8s ease;
  transform: translateY(70px);
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;

  .card-offer{
    height: 30rem;
    width: 20rem;
    display: block;
    border: 1px solid white;
    border-radius: 8px;
    transition: .3s;
    background-color: $color-black;
    

    // &:not(:first-child){
    //   margin-left: 3rem;
    // }

    &:hover{
      transform: translateY(-8px);
      // cursor: pointer;
    }

    &--title{
      font-size: 1.8rem;
      color: $color-white;
      margin-top: 20px;
    }
  }

  .show{
    opacity: 1;
    transform: translateY(0);
  }
}