.heading-box{
  text-align: center;
  position: relative;

  .heading-secondary{
    position: relative;
    z-index: 3;

    &--main{
      display: block;
      font-size: 4rem;
      color: $color-blue;
      font-weight: 900;
      z-index: 3;
    }

    &--sub{
      display: block;
      font-size: 2.5rem;
      color: $color-brown;
      z-index: 3;
    }
  }

  .title-big{
    position: absolute;
    top: -12rem;
    left: 1rem;
    font-size: 25rem;
    font-weight: 900;
    color: $color-dark-grey;
    opacity: .5;
    z-index: 2;
    @media screen and (max-width: 1024px) {
      font-size: 200px;
    }
    @media screen and (max-width: 890px) {
      font-size: 160px;
      top: -5rem;
    }
    @media screen and (max-width: 700px) {
      font-size: 140px;
      left: 2%;
      top: -1rem;
      white-space: nowrap;
    }
  }
}

.text-box{

  .paragraph{
    font-size: 2rem;
    color: $color-white;
    text-align: center;
    // padding-bottom: $padding-paragraph-bottom;
  }
}